*{
    margin : 0;
    padding : 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(92, 94, 100, 0.7), rgba(46, 56, 50, 0.7)),
                       url(images/banner.png); 
                /**/
    background-position: center;
    background-size: cover;  /* Resize the background image to cover the entire container */
    position: relative;
    
}
nav{
    display: flex;  /*image & list pashapashi asce*/
    padding: 3% 6%; /*up padding, left-right padding*/
    justify-content:space-between; /*image & list er majhe gap*/
    align-items: center; 
}
nav img{
    width: 180px;

}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none; /*kono bullet thakbena list e*/
    display:inline-block; /*pashapashi chole asce*/
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none; /*link er dag uthe gese*/
    font-size: 13px;

}
.nav-links ul li::after{
       content: '';
       width: 0%;
       height: 2px;
       background: red;
       display:block;
       margin: auto;
       transition: 0.5s
       
}
.nav-links ul li:hover::after{
    width: 100%;
}
.title-box{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}
.title-box h1{
    font-size: 50px;
    color: rgb(67, 36, 36);
}
 h1:hover{
    text-shadow: 5px 5px 5px rgb(137, 166, 94);
}
.title-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color:#fff;
}
.btn{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    background:transparent;
    font-size:13px;
    position:relative;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid red;
    background:red;
    transition:1s;
}
nav .fa-solid{
    display : none;
}
@media(max-width:700px){ /*making it responsive*/
    .title-box h1{
        font-size: 35px;
    }
    .title-box p{
        font-size:10px;
}
.nav-links ul li{
    display: block;
}
.nav-links{
    position:absolute;
    background:rgb(160, 84, 84);
    height:100vh;
    width:200px;
    top:0;
    right:-200px;
    text-align:left;
    z-index: 2;
    transition:0.5s
    
    

}
nav .fa-solid{
    display:block;
    color:aqua;
    margin: 10px;
    font-size:20px;
    cursor:pointer; 
}
.nav-links ul{
    padding: 10px;
}
}
/*----------Course-------------*/
.course{
    
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:50px;


}
h1{
    font-size: 30px;
    font-weight:400; /* kototuku thick or thin font*/

}
p{
    color:rgb(134, 131, 131);
    font-size:14px;
    font-weight: 300;
    line-height: 22px;/* 2 ta line e r majhe gap*/
    padding: 10px;
}
.row{
   margin-top:10px;
   display: flex; /* pashapashi niye ase class gulo k*/
   justify-content:space-between; 

}
.course-col{
    flex-basis: 30%;/* initially columnm gulo ara-ari koto tuk jaega nibe*/
    background: rgb(233, 206, 206);
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;/*The width and height properties (and min/max properties) includes content, padding and border*/
}
h3{
    text-align:center;
    font-weight:600;
    margin: 10px 0;

}

.course-col:hover{
    box-shadow:0 0 20px 5px rgba(16, 15, 15, 0.227);
    transition: 0.5s ;
}
@media(max-width: 700px)
{
    .row{
        flex-direction: column;
     
     }
}

/*------------campus------------*/
.campus{
    width:80%;
    margin:auto;
    padding-top:30px;
    text-align:center;

}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom:30px;
    position: relative;
    overflow:hidden;

}
.campus-col img{
    width: 100%;
    display:block;

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
}
.layer:hover{
    background: rgba(232, 6, 6, 0.414);
}
.layer h3{
    width: 100%;
    font-weight: 400;
    color:#fff;
    font-size:26px;
    bottom:0; /*bottom 0 thkee hover e bottom 49 e ase*/
    left:50%;
    transform: translateX(-50%);
    opacity:0;
    transition: 0.5s;
    position:absolute;
    
}
.layer:hover h3{
    bottom :49%;
    opacity:1;
}

/*-------------facility----------------------*/
.facilities{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
}

.facilities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}
.facilities-col img{
    width:100%;
    border-radius: 10px;

}
.facilities-col p{
    padding:0;
}
.facilities-col h3{
    margin-top:16px;
    margin-bottom:15px;
    text-align:left;
}
.testimonials{
    width:80%;
    margin:auto;
    padding-top: 30px;
    text-align:center;

}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align: left;
    background:rgb(238, 193, 193);
    padding:25px;
    cursor:pointer;
    display: flex;

}
.testimonials-col img{
    height:40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius:50%;

}
.testimonials-col p{
      padding: o;
}

.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}

.testimonials-col .fa-solid{
    color: rgb(177, 23, 23)
}
@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-left: 15px;
    }
}

/*-----Call to Action  ---------*/
.cta{
   margin:30px auto;
   width:80%;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   text-align: center;
   padding:100px 0px;

}
.cta h1{
   color:#fff;
   margin-bottom: 40px;
   padding: 0;

} 
@media(max-width: 700px)
{
    .cta h1{
        font-size:20px;
     
     }
}
/*-----Call to Action  ---------*/
.footer{
    width: 100%;
    text-align: center;
    padding:30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:600;
}

.icon .fa-brands{
    color: rgb(59, 98, 227);
    margin:0 13px;
    cursor:pointer;
    padding: 18px 0;

}